.hero-section {
    position: fixed;
    top: 30px;
    left: 0;
    width: 100%;
    height: 100vh;
    background-color: #f5f7f6;
    padding: 20px 20px;
    text-align: center;
    z-index: -1;
    transition: opacity 0.5s ease;
    margin-top: 20px;
}

.hero-text h1 {
    font-size: 30px;
    font-weight: 700;
    color: #1a3b22;
    /* dark green */
    margin-bottom: 5px;
    line-height: 1.2;
}

.hero-text p {
    font-size: 16px;
    color: #555;
    max-width: 700px;
    margin: 0 auto 10px auto;
}

.hero-gallery {
    display: flex;
    justify-content: center;
}

.image-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 2px;
    max-width: 80%;
    width: 100%;
}

.image-grid img {
    width: 100%;
    height: 190px;
    object-fit: cover;
    border-radius: 10px;
    padding: 5px;
}

.content-wrapper {
    margin-top: 100vh;
    /* equal to hero height */
    position: relative;
    z-index: 1;
}

@media (max-width: 768px) {
    .hero-section {
        padding: 60px 15px 20px 15px;
        height: auto;
        position: relative;
        margin-top: 0;
        top: 30px;
    }

    .hero-text h1 {
        font-size: 24px;
        line-height: 1.3;
        margin-bottom: 10px;
    }

    .hero-text p {
        font-size: 14px;
        padding: 0 10px;
    }

    .hero-gallery {
        margin-top: 20px;
    }

    .image-grid {
        grid-template-columns: repeat(2, 1fr);
        gap: 10px;
        max-width: 100%;
    }

    .image-grid img {
        height: 140px;
    }

    .content-wrapper {
        margin-top: 40px;
    }
}


/* section 2 */
.about-section {
    display: flex;
    background: #357400A8;
    padding: 20px 20px;
    /* align-items: center; */
    justify-content: center;
    gap: 15px;

}

.about-image {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
}

.carousel {
    position: relative;
    width: 400px;
    height: 480px;
    border: 3px solid #f57c00;
    border-radius: 15px;
    overflow: hidden;
    background: white;
}

.carousel-img {
    position: absolute;
    width: 100%;
    height: 100%;
    object-fit: contain;
    opacity: 0;
    transition: opacity 1s ease-in-out;
}

.carousel-img.active {
    opacity: 1;
}

.about-content {
    flex: 1;
    color: white;
}

.about-content h1 {
    font-size: 36px;
    margin-bottom: 20px;
}

.about-content h1 span {
    color: #ffffff;
    font-weight: 700;
}

.about-content h1 em {
    font-family: 'Pacifico', cursive;
    font-size: 24px;
    margin-left: 10px;
    color: #ffffff;
}

.about-content p {
    font-size: 16px;
    max-width: 84%;
    line-height: 1.7;
    margin-bottom: 30px;
}

.about-buttons {
    display: flex;
    gap: 10px;
    flex-wrap: wrap;
}

.btn-primary {
    background-color: #f57c00;
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 8px;
    font-size: 14px;
    cursor: pointer;
}

.btn-primary span {
    margin-left: 8px;
}

.btn-secondary {
    background: transparent;
    border: 1px solid white;
    color: white;
    padding: 12px 20px;
    border-radius: 8px;
    font-size: 14px;
    cursor: pointer;
}

.btn-secondary span {
    margin-left: 8px;
}


/* section3 */
.vegetable-section {
    display: flex;
    padding: 15px;
    background: white;
    gap: 30px;
    align-items: center;
    /* padding-left: 4%;
    padding-right: 4%; */
}

.carousel-container {
    flex: 1;
    background: white;
    border-radius: 15px;
    overflow: hidden;
    height: 380px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
    position: relative;
}

#carousel-wrapper {
    width: 100%;
    height: 100%;
    overflow: hidden;
    position: relative;
}

#carousel-track {
    display: flex;
    transition: transform 0.5s ease-in-out;
    height: 100%;
    width: 100%;
}

#carousel-track img {
    width: 100%;
    height: 100%;
    /* object-fit: contain; */
    flex-shrink: 0;
    padding: 10px 20px;
}

.vegetable-grid {
    flex: 1.5;
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap: 10px;
}

.vegetable-card {
    background: #e8f5e9;
    border-radius: 15px;
    height: 178px;
    padding: 10px;
    text-align: center;
    cursor: pointer;
    transition: transform 0.3s, background 0.3s;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.3);
}

.vegetable-card:hover {
    transform: scale(1.05);
    background: #c8e6c9;
}

.vegetable-card img {
    width: 100%;
    height: 110px;
    object-fit: contain;
    /* margin-bottom: 10px; */
}

.vegetable-card h4 {
    font-size: 16px;
    color: #2A3C2C;
    margin-top: 5px;
}

.vegetable-card.active {
    border: 1.5px solid #EF7F1B;
    /* green border for active */
    background: #e8f5e9;
    /* light green background */
    transform: scale(1.05);
    /* slightly bigger */
}


/* footer part */
.footer-section {
    background-color: #f57c00;
    /* Orange background */
    color: white;
    font-family: 'Poppins', sans-serif;
}

.footer-top {
    display: flex;
    justify-content: space-around;
    padding: 20px 35px;
    flex-wrap: wrap;
}

.footer-column {
    /* flex: 1; */
    min-width: auto;
    margin: 10px;
}

.footer-column h3 {
    margin-bottom: 15px;
    font-size: 20px;
}

.footer-column p {
    margin: 8px 0;
    font-size: 15px;
    line-height: 1.5;
}

.footer-column i {
    margin-right: 10px;
}

.social-icons {
    margin-top: 10px;
}

.social-icons a {
    display: inline-block;
    margin-right: 10px;
    font-size: 20px;
    color: white;
    transition: color 0.3s;
}

.social-icons a:hover {
    color: #cfd8dc;
}

/* Bottom gray part */
.footer-bottom {
    background-color: #c0c0c0;
    padding: 10px 80px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    color: #333;
    font-size: 14px;
}

.privacy-policy {
    cursor: pointer;
    text-decoration: underline;
}

.privacy-policy:hover {
    color: black;
}

/* mobile responsive  */
@media (max-width: 768px) {

    /* Section 2: About */
    .about-section {
        flex-direction: column;
        padding: 20px 10px;
        text-align: center;
    }

    .about-image {
        width: 100%;
        margin-bottom: 20px;
    }

    .carousel {
        width: 100%;
        max-width: 320px;
        height: 300px;
        margin: 0 auto;
        border: 3px solid #f57c00;
        border-radius: 15px;
        overflow: hidden;
        background: white;
        display: flex;
        align-items: center;
        justify-content: center;
        position: relative;
    }

    .carousel-img {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        max-width: 100%;
        max-height: 100%;
        object-fit: contain;
        opacity: 0;
        transition: opacity 1s ease-in-out;
    }

    .carousel-img.active {
        opacity: 1;
        z-index: 1;
    }

    .about-content h1 {
        font-size: 24px;
    }

    .about-content p {
        font-size: 14px;
        max-width: 100%;
        padding: 0 10px;
    }

    .about-buttons {
        justify-content: center;
        flex-direction: column;
        gap: 10px;
    }

    .btn-primary,
    .btn-secondary {
        width: 100%;
        font-size: 14px;
        padding: 10px;
    }

    /* Section 3: Vegetable */
    .vegetable-section {
        flex-direction: column;
        padding: 20px 10px;
    }

    .carousel-container {
        width: 100%;
        height: 250px;
        margin-bottom: 20px;
    }

    .vegetable-grid {
        grid-template-columns: repeat(2, 1fr);
        gap: 10px;
        width: 100%;
    }

    .vegetable-card {
        height: auto;
        padding: 10px;
    }

    .vegetable-card img {
        height: 80px;
    }

    .vegetable-card h4 {
        font-size: 14px;
    }
}

/* footer */

@media (max-width: 768px) {
    .footer-top {
        flex-direction: column;
        align-items: center;
        justify-content: center;
        text-align: center;
        padding: 5px;
    }

    .footer-column {
        width: 100%;
        margin: 10px 0;
    }

    .footer-column h3 {
        font-size: 18px;
    }

    .footer-column p {
        font-size: 14px;
    }

    .social-icons {
        display: flex;
        gap: 15px;
        justify-content: center;
    }

    .footer-bottom {
        flex-direction: column;
        text-align: center;
        padding: 15px 20px;
        gap: 10px;
        align-items: center;
    }

    .footer-bottom p {
        margin: 0;
    }
}

/* HD (1280x720) */
@media (min-width: 1350px) and (max-width: 1919px) {
    .hero-section {
        position: fixed;
        top: 30px;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: #f5f7f6;
        padding: 20px 20px;
        text-align: center;
        z-index: -1;
        transition: opacity 0.5s ease;
        margin-top: 10px;
    }

    .hero-text h1 {
        font-size: 36px;
        font-weight: 700;
        color: #1a3b22;
        margin-bottom: 5px;
        /* line-height: 1.2; */
        margin-top: 20px;
    }

    .hero-text p {
        font-size: 16px;
        color: #555;
        max-width: 700px;
        margin: 0 auto 10px auto;
        padding-bottom: 5px;
    }

    .hero-gallery {
        display: flex;
        justify-content: center;
    }

    .image-grid {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        gap: 5px;
        max-width: 80%;
        width: 100%;
    }

    .image-grid img {
        width: 100%;
        height: 210px;
        object-fit: cover;
        border-radius: 10px;
    }

    .content-wrapper {
        margin-top: 100vh;
        /* equal to hero height */
        position: relative;
        z-index: 1;
    }
}

/* Full HD (1920x1080) */
@media (min-width: 1920px) {
    .hero-section {
        padding: 40px 60px;
        margin-top: 2%;
    }

    .hero-text h1 {
        font-size: 48px;
        margin-bottom: 20px;
    }

    .hero-text p {
        font-size: 20px;
        max-width: 900px;
        margin-bottom: 20px;
    }

    .image-grid {
        max-width: 82%;
        gap: 25px;
    }

    .image-grid img {

        object-fit: cover;
        height: 320px;
    }

    .about-content h1 {
        font-size: 40px;
        margin-bottom: 20px;
    }

    .about-content h1 span {
        color: #ffffff;
        font-weight: 700;
    }

    .about-content h1 em {
        font-family: 'Poppins', cursive;
        font-size: 40px;
        margin-left: 10px;
        color: #ffffff;
    }

    .about-content p {
        font-size: 20px;
        max-width: 84%;
        line-height: 1.7;
        margin-bottom: 30px;
    }

    .btn-primary,
    .btn-secondary {
        font-size: 20px;
    }

}

/* Mac Devices */
@media (min-width: 1440px) and (max-width: 1919px) and (-webkit-min-device-pixel-ratio: 2) {
    .hero-section {
        padding: 35px 50px;
    }

    .hero-text h1 {
        font-size: 44px;
    }

    .hero-text p {
        font-size: 19px;
        max-width: 850px;
    }

    .image-grid {
        max-width: 92%;
        gap: 22px;
    }

    .image-grid img {
        height: 230px;
    }
}